@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #232529;
  background-image: radial-gradient(circle at 5px 5px, #27282D 5px, transparent 0);
  background-size: 53px 53px;
  font-family: "Inter", sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

