.content {
  width: 90%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  border: 4px solid #282c31;
  border-radius: 52px;
  box-shadow: inset 0 0 6px 0 #0008, 0 0 6px 0 #0008;
  padding: 16px;
  margin-bottom: 27px;
  width: fit-content;
}

.form {
  border: 2px solid #35383f;
  border-radius: 36px;
  background-color: #272c34;
  padding: 15px;
  box-shadow: 0 0 2px 0 #0004;
  position: relative;
  width: 100%;
}

.title {
  position: absolute;
  color: #fff9;
  font-weight: 500;
  font-size: 24px;
}

.titleLeft {
  left: 45px;
}

.titleRight {
  right: 45px;
}

.textarea {
  border: 8px solid #1e5dff;
  border-radius: 16px;
  background-color: #373b42;
  padding: 50px 30px;
  width: 40vw;
  height: 200px;
  resize: none;
  font-family: inherit;
  font-weight: 400;
  font-size: 32px;
  color: #fff;
  box-shadow: 0 0 12px 0 #0004, inset 0 0 12px 0 #0004;
}

.textarea::placeholder {
  color: #fff;
  opacity: 0.5;
}

.textarea:focus {
  outline: none;
}

.button {
  background-color: #1e5dff;
  border: 2px solid #35383f;
  border-radius: 42px;
  box-shadow: 0 0 6px 0 #0004;
  height: 5vh;
  width: 7vw;
  color: #fff;
  font-weight: 500;
  font-size: 24px;
}

.button:hover {
  cursor: pointer;
  filter: brightness(1.2);
}

@media (max-width: 768px) {
  .title {
    font-size: 18px;
  }

  .titleLeft {
    left: 35px;
  }

  .titleRight {
    right: 35px;
  }

  .textarea {
    width: 70vw;
    height: 40vh;
    font-size: 20px;
  }

  .button {
    width: 40vw;
  }
}

